@font-face {
	font-family: "Whirly Birdie";
	src: url("https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2FWhirlyBirdieGX.ttf?v=1588569607311")
		format("truetype");
	}

	@font-face {
	font-family: "Whirly Birdie Narrow Light";
	src: url("https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2FWhirlyBirdie-NarrowLight.ttf?v=1590394473989")
		format("ttf");
    }

    @font-face {
        font-family: "Whirly Birdie Narrow";
        src: url("https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2FWhirlyBirdie-Narrow.woff?v=1587787534986")
            format("woff");
        }

    @font-face {
        font-family: "Whirly Birdie Regular";
        src: url("    https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2FWhirlyBirdie-Regular.woff?v=1590326472854")
            format("woff");
    }



    
	@font-face {
	font-family: "Whirlybats";
	src: url("https://cdn.glitch.com/1711052e-ea5e-4036-9c61-dd3ef6782855%2FWhirlybatsGX.ttf?v=1583959223787")
		format("truetype");
	}

	@font-face {
	font-family: "Nicholson Beta";
	src: url("https://cdn.glitch.com/1711052e-ea5e-4036-9c61-dd3ef6782855%2Fnicholsonbeta-webfont.woff2?v=1584151257949")
		format("woff2");
	}

	@keyframes animateGlyph {
	0%   { font-variation-settings: "anim" 100; }
	100% { font-variation-settings: "anim" 200; }
	}

	@keyframes appear {
	to   { opacity: 1; }
    }
    
/* Master colors */

:root {
--black: #000000;
--white: #ffffff;
--red: #D53540;
--blue: rgb(62, 139, 202);

--forest: #464D33;
--green: #079548;
--lightgreen: #CCD9D1;
--wood: #AD6C2F;
/* --navy: rgb(29, 55, 103); */
--lightcharcoal: #9d9d9d;
--radius: 45px;

--sun: 252, 216, 54;
--blue:62, 139, 202;
--navy:29, 55, 103;

--offwhite: 250, 236, 197;
--darkoffwhite: 230 216,177;
/* --offwhite: rgb(var(--offwhiteS)); */

--offwhitetint:255, 221, 176;
/* --offwhitetint:rgb(var(--offwhitetintS)); */

--offwhitegradient: linear-gradient(0deg, rgb(var(--offwhitetint)) 0%, rgba(var(--offwhitetint),0.920045518207283) 70%, rgba(var(--offwhitetint),0) 100%);
--offwhitegradient2: linear-gradient(0deg, rgb(var(--offwhitetint)) 0%, rgba(var(--offwhitetint),0.920045518207283) 70%, rgba(var(--offwhitetint),0) 100%);

--crimson:229,70,70;
--deepCrimson: 139,39,39;

--charcoal:60,60,60;
--lightcharcoal:85,85,85;

--wave:url(https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2Fh.svg?v=1589236773572);
--waveRed:url(https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2Fhred.svg?v=1589238550292);
/* --charcoal: rgb(var(--charcoalS)); */

}

html, body {
font-family: "Whirly Birdie";
background-color: rgb(var(--crimson));
font-variation-settings: "wght" 90, "wdth" 120, "ital" 0;
margin:0;
padding:0;
width:100%;
height:100%;
overflow:hidden;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body{
background-color: var(--black);
}
button{
    background: transparent;
    border: none;
}
button:hover{
   cursor: url(https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2Fcursor4.svg?v=1587485456475) 21 20, pointer;
}

.cover{
    width:120%;
    height:110%;
    position: absolute;
    top:-5%;left: -10%;
    background: rgb(var(--crimson));
    transform: rotate(0deg) translate3d(0,0,0);
    transform-origin: center;
    transition:transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1s;
    overflow:hidden;
    z-index:99
}
/* .cover:before{
    content: '';
    background-size: auto 10px;
    opacity: 0.05;
    position: absolute;
    border: none;
    height: 200%;
    width: 200%;
    left: -50%;
    top: -50%;
    background-position: 100% 100%;
    background-image: url(https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2Fh.svg?v=1589236773572);
    transform-origin: center;
    transform: rotate(45deg);
} */
.cover.hide{
    transform: rotate(-8deg) translate3d(0,-130%,0);
    pointer-events: none;
}
.cover .icon{
    font-family:'Whirlybats';
    font-size:100px;
    color:var(--offwhite);
    position: absolute;
    margin:auto;
    padding-bottom: 25px;
    top:0;left:0;right:0;bottom:0;
    height: 100px;
    width:100px;
    opacity: 1;
    animation-fill-mode: forwards;
    animation-play-state: start;
    animation: animateGlyph 1s linear infinite;
    transform: scale3d(1,1,1);
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1s;
}
/* .cover .icon:before{
    content: '';
    width: 75%;
    height: 44%;
    background: var(--charcoal);
    position: absolute;
    top: 30%;
    left: 12%;
    z-index: -1;
} */
.cover .icon span{
    position: absolute;
    width: 20%;
    height: 30%;
    top: -3.5%;
    right: 6%;
    display: flex;
}
.cover .icon svg{
    width:100%;
    height:100%
}
