@font-face {
	font-family: "Whirly Birdie";
	src: url("https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2FWhirlyBirdieGX.ttf?v=1588569607311")
		format("truetype");
	}

	@font-face {
	font-family: "Whirly Birdie Narrow";
	src: url("https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2FWhirlyBirdie-Narrow.woff?v=1587787534986")
		format("woff");
	}

	@font-face {
	font-family: "Whirlybats";
	src: url("https://cdn.glitch.com/1711052e-ea5e-4036-9c61-dd3ef6782855%2FWhirlybatsGX.ttf?v=1583959223787")
		format("truetype");
	}

	@font-face {
	font-family: "Nicholson Beta";
	src: url("https://cdn.glitch.com/1711052e-ea5e-4036-9c61-dd3ef6782855%2Fnicholsonbeta-webfont.woff2?v=1584151257949")
		format("woff2");
	}

	@keyframes animateGlyph {
	0%   { font-variation-settings: "anim" 100; }
	100% { font-variation-settings: "anim" 200; }
	}

	@keyframes appear {
	to   { opacity: 1; }
    }
    
/* Master colors */

:root {
--black: #000000;
--white: #ffffff;
--red: #D53540;
--blue: #3E8BCA;
--sun: #FCD836;
--forest: #464D33;
--green: #079548;
--lightgreen: #CCD9D1;
--wood: #AD6C2F;
--navy: #1D3767;
--offwhite: #FFF8E4;
--crimson: #E54646;
--charcoal: #3C3C3C;
--radius: 45px;
}

html, body {
font-family: "Whirly Birdie";
background-color: var(--crimson);
font-variation-settings: "wght" 90, "wdth" 120, "ital" 0;
margin:0;
padding:0;
width:100%;
height:100%;
overflow:hidden;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body{
background-color: var(--black);
}
button{
    background: transparent;
    border: none;
}
button:hover{
   cursor: url(https://cdn.glitch.com/bbfb2dd7-a8b0-4835-bdc2-c2fdffc99849%2Fcursor4.svg?v=1587485456475) 21 20, pointer;
}

.cover{
    width:120%;
    height:110%;
    position: absolute;
    top:-5%;left: -10%;
    background: var(--crimson);
    transform: rotate(0deg) translate3d(0,0,0);
    transform-origin: center;
    transition:transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1s;
    overflow:hidden;
    z-index:99
}
.cover.hide{
    transform: rotate(-8deg) translate3d(0,-130%,0);
    pointer-events: none;
}
.cover .icon{
    font-family:'Whirlybats';
    font-size:100px;
    color:var(--offwhite);
    position: absolute;
    margin:auto;
    top:0;left:0;right:0;bottom:0;
    height: max-content;
    width:max-content;
    opacity: 1;
    animation-fill-mode: forwards;
    animation-play-state: start;
    animation: animateGlyph 1s linear infinite;
    transform: scale3d(1,1,1);
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1s;
}
.cover.hide .icon{
    transform: scale3d(2,2,2);
}
.cover .icon:before{
    content: '';
    width: 75%;
    height: 44%;
    background: var(--charcoal);
    position: absolute;
    top: 30%;
    left: 12%;
    z-index: -1;
}
.cover .icon span{
    position: absolute;
    width: 20%;
    height: 30%;
    top: -4%;
    right: 6%;
    display: flex;
}
.cover .icon svg{
    width:100%;
    height:100%
}
